* {
  box-sizing: border-box;
}

body {
	background-color: #EDF6F9;
	font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 32px;
  font-family: Merriweather, serif;
  padding: 15px;
  text-align: center;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  /* For tablets: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  h1 {
  	font-size: 42px;
  }
}


@media only screen and (min-width: 1200px) {
  /*For desktop:*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  h1 {
  	font-size: 46px;
  }
}



[class*="col-"] {
  float: left;
  padding: 5px;
}

.row:after {
  content: "";
  clear: both;
  display: table;
  padding: 15px;
}



.search ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.suggestions{
  background-color: #E7E9EB;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.suggestions ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.suggestion {
  background-color: #E7E9EB;
  font-size: 18px;
  padding: 12px 28px;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.suggestion span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.suggestion span:after{
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.suggestion:hover span{
  color: #006D77;
  padding-right: 25px;
}

.suggestion:hover span:after{
   opacity: 1;
  right: 0;
}

input[type=text] {
  width: 100%;
  border: 2px solid #ccc;
  border-radius: 30px;
  font-size: 16px;
  background-color: #EDF6F9; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}
  input[type=submit] {
  width: 30%;
  position: relative;
  left: 35%;
  background-color: #006D77;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.keyword {
  color: #006D77; 
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}

.description {
  padding: 10px;
  font-size: 22px;
}

.keywordMissing {
  color: #E63946;
  padding: 10px;
  padding-left: 20px;
}

.error {
  padding: 40px;
  background-color: #E7E9EB;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.errorTitle {
  color: #006D77; 
  font-size: 34px;
  font-weight: bold;
  padding: 10px;
  width: 30%;
  position: relative;
  left: 35%;
}

.errorText {
  font-size: 22px;
  width: 50%;
  position: relative;
  left: 25%;
}

.footer {
  width: 100%;
  background-color: #292c2f;
  position: fixed; left: 0; bottom: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  text-align: center;
  padding: 20px 20px;
  font-size: 11px;
  color: #8f9296;
}